.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 32px;
    background-color: #333;
    border-bottom: 1px solid #e9ecef;
    height: 60px;
}

.logo {
    font-size: 19px;
    font-weight: bold;
    color: #333;
    border: 2px solid #333;
    padding: 2px 6px;
}

.header nav {
    display: flex;
    gap: 24px;
    align-items: center;
}

.header nav a {
    text-decoration: none;
    color: #d7d7d7;
    font-weight: 500;
}

.header nav a:hover {
    color: #007bff;
}

.signup-btn {}